@{
    ViewData["Title"] = "Home Page";
}

<header class="masthead text-center text-white" style="height: 700px;">
    <h1>Bine ai venit</h1>
    <h3>Factureaza inteligent!</h3>
    <br /><br />
    <h2>Tipuri de abonamente</h2>
    <br /><br />
    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Bronze</h2>
                <div class="text-left">
                    <ul>
                        <li>1 utilizator</li>
                        <li>Rapoarte standard</li>
                        <li>30 documente/luna</li>
                        <li>Dashboard personalizat</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 ">
                <h2>Silver</h2>
                <div class="text-left">
                    <ul>
                        <li>1 utilizator</li>
                        <li>Rapoarte standard</li>
                        <li>30 documente/luna</li>
                        <li>Dashboard personalizat</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <h2>Gold</h2>
                <div class="text-left">
                    <ul>
                        <li>1 utilizator</li>
                        <li>Rapoarte standard</li>
                        <li>30 documente/luna</li>
                        <li>Dashboard personalizat</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>



