@{
    ViewData["Title"] = "Inregistrare finalizata";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /> <br /><br /><br /><br /><br /><br />
<div class="container" style="height: 540px;">

    <div class="">
        <h2>Te-ai inregistrat cu succes!</h2>
        
    </div>
    <br /><br /><br /><br /><br /><br /><br />
</div>
